.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #458393 0%, #3A547C 100%);
    overflow: hidden;
}


.loader-container {
    height: 3rem;
    width: 3rem;
    margin: 1rem;
}

.login-heading {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.form {
    width: 350px;
    border-radius: 20px;
    background: #FBFBFB;
    box-shadow: 4px 4px 20px 9px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(54.5px);
    padding: 2rem;
    border-radius: 5px;
    background-color: #FBFBFB;
    height: 450px;
}

.form-control {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
    border-radius: 13.165px;
    background: #FFF;
    box-shadow: 0px 3.291px 8.228px 0px rgba(0, 0, 0, 0.12);
}

.form-control input::placeholder {
    color: black;
    font-family: Lato;
    font-weight: 350;
    font-size: 1rem;
}

.form-control input {
    font-size: 1rem;
}

.icon {
    color: #22222280;
}

.form-control input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border: none;
    outline: none;
}

.login-btn {
    width: 30%;
    padding: 10px;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(93deg, #458293 0.4%, #3A557C 101.4%);
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
    font-weight: Lato;
}

.login-btn:hover {
    background: linear-gradient(93deg, #458293 0.4%, #243c5e 101.4%);
}

.reg-p {
    text-align: center;
    color: #000;
    font-family: Lato;

}

.reg-link {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .form {
        width: 250px;
        padding: 1rem;
    }

    .form-control {
        margin: 1rem;
        padding: 0.6rem;
    }

}